<div class="page-header">
<h1><strong>Blocipedia: </strong><i>Social, MarkDown Wikis</i></h1>
</div>

<div class="jumbotron">
  <p>Create and Share MarkDown Wikis</p>
  <button class='btn btn-default btn-lg'>
  <%= link_to "Sign Up", new_user_registration_path, :class => 'main-signup' %>
</button>
</div>
