- if policy(:wiki).create?
  %h1
    Private Wikis
    =link_to "Create Wiki", new_wiki_path, :class => "btn btn-default pull-right"

%div
  - @wikis.each do |wiki|
    - if wiki.private == true && current_user == wiki.user
      %h4
        =link_to wiki.title, wiki
      %small
        Submitted by:
        =wiki.user.email
