<% if policy(:wiki).create? %>
  <h1> Private tWikis <%=link_to "Create Wiki", new_wiki_path, class: "btn btn-default pull-right" %></h1>
<% end %>

<div>
<% @wikis.each do |wiki| %>
<% if wiki.private == true && current_user.email == wiki.user.email %>
<h4>
  <%= link_to wiki.title, wiki %>
</h4>
<small>
  Submitted by: <%= wiki.user.email %>
</small>
<% end %>
<% end %>
</div>
