%h1{:class => "page-header"}
  =@wiki.title

.jumbotron
  =markdown(@wiki.body)

%div
  - if current_user == @wiki.user
    =link_to "Delete Wiki", @wiki, method: :delete, :class => "btn btn-danger pull-right", data: {confirm: "Are you sure you want to delete wiki?"}
  - if policy(:wiki).edit?
    =link_to "Edit Wiki", edit_wiki_path(@wiki), :class => "btn btn-success"

.collabs
  - if @wiki.private? && current_user = @wiki.user && @wiki.collaborators.size > 0
    %div
      %h4 Collaborators
    - @wiki.collaborators.each do |collab|
      %h5
        =collab.user.email
